.container__button {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}
.btn-map {
    background-color: #D59D2E;
    color: black;
    font-size: 20px;
    border: 1px solid #212B36;
    display: block;
    justify-content: space-between;
    padding: 1em;
    margin: 0 2% !important;
    cursor: pointer;
}

.btn-map:hover{
    background-color: rgb(206, 139, 14);
}