.map {
    height: 500px;
    width: 80%;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    margin-top: 16px;
    margin-bottom: 16px;
    box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
}

.map__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.map .leaflet-container {
    height: 100%;
}

.leaflet-marker-icon {
    background-color: transparent;
}

.leaflet-popup .leaflet-popup-content-wrapper{
    background-color: #19212A;
}

.flagicon{
    width: 200px;
}

